<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="nav-menu">
        <a href="/" class="nav-link">Home</a>
        <a href="/resume" class="nav-link">Resume</a>
        <a href="/contact" class="nav-link">Contact</a>
    </div>
    <div class="title-home">
        <h1>Robert Ennaco
            <p class="sub-header">DevSecOps Engineer</p>
        </h1>
    </div>
    <div class="profile-img">
        <img src="{{ url_for('static', filename='images/Robert Ennaco headshot.jpg') }}" class="profile-img" alt="Robert Ennaco headshot">
    </div>
</body>
</html>